<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<title>Login | Musify</title>
		<meta name="description" content="Musify - The Ultimate Music Platform" />

		<link rel="shortcut icon" type="image/svg+xml" href="/images/favicon.svg" />

		<link rel="stylesheet" href="/css/login.css" />
	</head>
	<body>
		<article class="login-page">
			<div class="banner">
				<img src="/images/login-banner.jpg" width="1080" height="1080" alt="" />
			</div>

			<div class="content">
				<a href="/" class="logo">
					<img
						src="/images/logo.svg"
						alt="some"
						class="img-cover"
						height="24"
						width="94"
					/>
				</a>

				<div class="wrapper">
					<h2 class="title headline-medium">
						<strong> Join us </strong>
						and embark on an incredible musical <strong> journey! </strong>
					</h2>

					<a href="/auth" class="btn btn-primary has-icon" data-ripple>
						<img
							src="/images/spotify-on-primary.svg"
							width="18"
							height="18"
							alt="some"
						/>

						<span class="label-large"> Continue with Spotify </span>

						<div class="state-layer"></div>
					</a>
				</div>

				<p class="bottom-text label-large">
					Powered by
					<a
						href="https://spotify.com"
						target="_blank"
						class="link link-primary"
						>Spotify</a
					>
				</p>
			</div>
		</article>
	</body>
</html>
